REACT_APP_SUPABASE_URL=https://myvcyteynqkurchazufh.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dmN5dGV5bnFrdXJjaGF6dWZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4NTY5ODEsImV4cCI6MjA5MzQzMjk4MX0.WuPgRx5fSkjVyVvda8s_LyC5PRauFSk48jURd9Yv2h4
REACT_APP_API_URL=http://localhost:3001
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15dmN5dGV5bnFrdXJjaGF6dWZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4NTY5ODEsImV4cCI6MjA5MzQzMjk4MX0.WuPgRx5fSkjVyVvda8s_LyC5PRauFSk48jURd9Yv2h4